.conteudo__principal_detalhe{
    display: flex;
    flex-wrap: wrap;
    padding-left: 6%;
    padding-right: 6%;
    justify-content: space-around;
}

.conteudo_detalhe{
    width: 75%;
    margin-bottom: 2rem;
}

.card-body{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.produto__corpo{
    align-items: center;
}

.detalhe-img{
    margin: 1rem auto;
    max-height: 400px;
}
.informacoes__container .detalhe-preco{
    margin-left: 1rem;
    margin-bottom: 0.3rem;
    font-weight: 500;
    font-size: 18px;
}

.btn-adicionar{
    margin-top: 1rem;
}

.informacoes__container{
    flex-direction: column;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.produto__informacoes{
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
}

.destaque__preco_container{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

.produto__descritivo{
    width: 90%;
    flex-grow: 1;
    margin-left:1rem;
    word-wrap: break-word;
}

.produto__destaque{
    width: 90%;
    flex-grow: 1;
    margin-left:1rem;
}


@media  screen and (max-width: 1100px){
    .conteudo_detalhe{
            width: 85%;
        }
}


@media  screen and (max-width: 950px){
    .conteudo_detalhe{
        width: 100%;
    }

}

@media  screen and (max-width: 850px){
    .conteudo__principal_detalhe{
        padding-left: 0;
        padding-right: 0;
    }
}
@media  screen and (max-width: 750px){
    .produto__corpo{
        flex-direction: column;
        align-items: center;
    }
    .informacoes__container{
        flex-direction: row;
    }
    .detalhe-img{
        margin: 0 0;
        max-height: 300px;
    }

    .informacoes__container .detalhe-preco{
        margin: 0 0; 
    }
    .produto_img{
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 1rem;
        justify-content: space-around;
    }

    .destaque__preco_container{
        width: 35%;
    }

    .produto__informacoes{
        height: 100%;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: flex-start;
    }

    .produto__descritivo{
        margin: 0 0;
        flex-grow: 0;
        width: 55%;
    }

    .produto__destaque{
        margin: 0 0.5rem 0 0;
        width: 100%;
        flex-grow: 0;
    }
}