.conteudo-principal{
    display: flex;
    flex-wrap: wrap;
    padding-left: 6%;
    padding-right: 6%;
    justify-content: space-around;
}

.conteudo-produto{
    width: 40%;
    margin-bottom: 2rem;
}

.card-body{
    display: flex;
    
    justify-content: space-between;
}
.produto-img{
    margin: 2rem auto;
    max-height: 200px;
}
.produto-preco{
    margin-left: 1.5rem;
    font-weight: 500;
    font-size: 1.7rem;
}



@media  screen and (max-width: 830px){
    .conteudo-produto{
        width: 65%;
        margin-bottom: 2rem;
    }

    .conteudo-principal{
        padding-left: 0;
        padding-right: 0;
    }
}

@media  screen and (max-width: 630px){
    .conteudo-produto{
        width: 75%;
        margin-bottom: 2rem;
    }
}

@media  screen and (max-width: 530px){
    .conteudo-produto{
        width: 90%;
        margin-bottom: 2rem;
    }
}

@media  screen and (max-width: 430px){
.conteudo-produto{
        width: 100%;
        margin-bottom: 2rem;
    }
}