.botoes_quantidade__container{
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;
    align-items: center;
    width: 100%;
}

.botoes__container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.quantidade_text{
    width: 40%;
    margin: 0 0;
    font-size: 20px;
}

.inputQuantidade{
    margin: 0 0.5rem 0 0.5rem;
    width: 40%;
    text-decoration: none;
}

@media  screen and (max-width: 750px){
    .botoes_quantidade__container{
        width: 55%;
    }
}

@media  screen and (max-width: 590px){
    .botoes_quantidade__container{
        width: 65%;
    }
}

@media  screen and (max-width: 505px){
    .botoes_quantidade__container{
        width: 70%;
    }
}

@media  screen and (max-width: 470px){
    .botoes_quantidade__container{
        width: 100%;
    }
}

@media  screen and (max-width: 340px){
    .quantidade_text{
        width: 35%;
        margin: 0 0;
        font-size: 18px;
    }
}   