.header-flex{
    width: 100%;
    display: flex;
    
    align-items: flex-end;
    justify-content: space-between;
}

.header-logo{
    width: 15%;
}

.header-busca{
    width: 30vw;
}

.header-iconeCadastro{
    width: 5vw;
    margin-right: 3rem;
}

.menu-links{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5rem;
}

